body {
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 175%;
  background-color: #201c16;
  color: #ebdbb2;
  overflow-x: hidden;
}
pre, h1, h2, h3 {
  font-family: monospace;
  font-weight: 100;
}
@media screen and (min-width: 800px) {
  #wrapper {
    max-width: 60%;
    min-width: 800px !important;
    margin: 0 auto;
  }
}
h1 {
  font-size: 180%;
  text-align: center;
  margin-bottom: 18px;
}
h2 {
  font-size: 160%;
  margin-top: 24px;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
h4 {
  font-size: 120%;
}
h4 {
  font-size: 100%;
  margin-top: 14px;
  margin-bottom: 0;
}
:not(h3) + h4 {
  padding-top: 10px;
}
p, ul {
  margin: 6px 0;
}
a, .property {
  color: #a8a08c;
}
.active-power {
  color: #72ff72;
}
.passive-power {
  color: #79aaff;
}
.languages {
  text-align: right;
}
table {
  border-collapse: collapse;
}
tr:not(:last-child) td {
  border-bottom: 1px solid darkgrey;
}
td {
  padding: 2px 10px 2px 0px;
}
.gametracker img {
  max-width: 100%;
  filter: sepia(1);
}
